.bg{
  background-image: url('https://image.slidesdocs.com/responsive-images/background/outdoor-summer-natural-camp-vacation-powerpoint-background_3ddb273962__960_540.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}